name: Build Docker Image

on:
  workflow_call:
    inputs:
      ORGANIZATION_NAME:
        description: "Docker Hub Organization"
        required: true
        type: string
      IMAGE_NAME:
        description: "Docker Image Name"
        required: true
        type: string
      VITE_CHATS_SERVICE_URL:
        description: "API url"
        required: false
        type: string
      VITE_FILES_SERVICE_URL:
        description: "API url"
        required: false
        type: string
      VITE_NOTIFICATIONS_SERVICE_URL:
        description: "API url"
        required: false
        type: string
      ENVIRONMENT:
        description: "Environment"
        required: false
        type: string
    secrets:
      DOCKER_TOKEN:
        required: true
      GIT_HUB_TOKEN:
        required: true
      GPG_PRIVATE_KEY:
        required: true
      GPG_PASSPHRASE:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Read version from package.json
        id: package-version
        run: echo "VERSION=$(jq -r .version package.json)" >> "$GITHUB_ENV"

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ inputs.ORGANIZATION_NAME }}" --password-stdin

      - name: Log in to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GIT_HUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          DOCKERHUB_TAG=${{ inputs.ORGANIZATION_NAME }}/${{ inputs.IMAGE_NAME }}:$VERSION
          GHCR_TAG=ghcr.io/${{ inputs.ORGANIZATION_NAME }}/${{ inputs.IMAGE_NAME }}:$VERSION
          docker build . \
            --build-arg VITE_CHATS_SERVICE_URL=${{ inputs.VITE_CHATS_SERVICE_URL }} \
            --build-arg VITE_FILES_SERVICE_URL=${{ inputs.VITE_FILES_SERVICE_URL }} \
            --build-arg VITE_NOTIFICATIONS_SERVICE_URL=${{ inputs.VITE_NOTIFICATIONS_SERVICE_URL }} \
            --build-arg ENVIRONMENT=${{ github.ref_name == 'release' && 'production' || 'staging' }} \
            -t $DOCKERHUB_TAG -t $GHCR_TAG --pull 
          docker push $GHCR_TAG
          docker push $DOCKERHUB_TAG
          

      - name: Verify & Sign build
        run: |
          echo "${{ secrets.GPG_PRIVATE_KEY }}" | gpg --batch --import
          tar -czf dist.tar.gz dist/
          shasum -a 256 dist.tar.gz > dist.sha256
          gpg --batch --pinentry-mode loopback --passphrase "${{ secrets.GPG_PASSPHRASE }}" --armor --sign dist.sha256

