name: Release Docker Image

on:
  workflow_call:
    inputs:
      ORGANIZATION_NAME:
        required: true
        type: string
      IMAGE_NAME:
        required: true
        type: string
    secrets:
      DOCKER_TOKEN:
        required: true
      GIT_HUB_TOKEN:
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ inputs.ORGANIZATION_NAME }}" --password-stdin

      - name: Log in to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GIT_HUB_TOKEN }}

      - name: Pull, Tag, and Push Latest Image
        run: |
          DOCKERHUB_BASE=${{ inputs.ORGANIZATION_NAME }}/${{ inputs.IMAGE_NAME }}
          GHCR_BASE=ghcr.io/${{ inputs.ORGANIZATION_NAME }}/${{ inputs.IMAGE_NAME }}
          docker pull $DOCKERHUB_BASE:dev
          docker tag $DOCKERHUB_BASE:dev $DOCKERHUB_BASE:latest
          docker tag $DOCKERHUB_BASE:dev $GHCR_BASE:latest
          docker push $GHCR_BASE:latest
          docker push $DOCKERHUB_BASE:latest