name: Release Docker Image

on:
  workflow_call:
    inputs:
      ORGANIZATION_NAME:
        required: true
        type: string
      IMAGE_NAME:
        required: true
        type: string
      VERSION:
        description: "Version"
        required: false
        type: string
    secrets:
      DOCKER_TOKEN:
        required: true
      GIT_HUB_TOKEN:
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set version.yml
        id: package-version.yml
        run: echo "VERSION=${{ inputs.VERSION }}" >> "$GITHUB_ENV"

      - name: Read version.yml from package.json
        id: package-version.yml
        run: echo "VERSION=$(jq -r .version.yml package.json)" >> "$GITHUB_ENV"

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ inputs.ORGANIZATION_NAME }}" --password-stdin

      - name: Log in to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GIT_HUB_TOKEN }}

      - name: Pull, Tag, and Push Latest Image
        run: |
          DOCKERHUB_BASE=${{ inputs.ORGANIZATION_NAME }}/${{ inputs.IMAGE_NAME }}
          GHCR_BASE=ghcr.io/${{ inputs.ORGANIZATION_NAME }}/${{ inputs.IMAGE_NAME }}
          docker pull $DOCKERHUB_BASE:$VERSION
          docker tag $DOCKERHUB_BASE:$VERSION $DOCKERHUB_BASE:latest
          docker tag $DOCKERHUB_BASE:$VERSION $GHCR_BASE:latest
          docker push $GHCR_BASE:latest
          docker push $DOCKERHUB_BASE:latest