name: Get Version

on:
  workflow_call:
    outputs:
      release_version:
        description: "Version from git describe"
        value: ${{ jobs.version.outputs.release_version }}
    secrets:
      GH_TOKEN:
        required: true

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      release_version: ${{ steps.get_version.outputs.VERSION }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Debug before fix
        run: git remote -v

      - name: Fix Git origin URL
        run: git remote set-url origin "https://github.com/${{ github.repository }}.git"

      - name: Debug after fix
        run: git remote -v

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Run Semantic Release
        run: npx semantic-release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Fetch updated tags
        run: git fetch --tags --force

      - name: Get release version
        id: get_version
        run: echo "VERSION=$(git describe --tags --abbrev=0)" >> "$GITHUB_OUTPUT"
